* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
    font-size: 10px;
}

body {
    min-height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}


.big-box {
    width: 800px;
    height: 600px;
    border: 1px solid black;
}

.small-box:nth-child(1) {
    background-color: brown;
}

